.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.header {
  width: 100%;
  background: #73C1FF!important;
  text-align: center;
  color: white;
}
