<h2>Profile</h2>
<div class="container" fxFlex>
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
        </li>
      </ul>

      <div fxFlex="100" fxFlex.gt-sm="50">
          <div fxLayout="row">
            <div>
              <mat-list-item>
                <h3>{{profile.name}}</h3>
              </mat-list-item>
              <mat-list-item>
                <h6>Major</h6>
              </mat-list-item>
              <mat-list-item>
                <p> {{profile.major}} </p>
              </mat-list-item>
              <mat-list-item>
                <h6>Classes</h6>
              </mat-list-item>
              <mat-list-item>
                <p> {{profile.classes}} </p>
              </mat-list-item>
              <mat-list-item>
                <h6>Availability</h6>
              </mat-list-item>
              <mat-list-item>
                <p> {{profile.availability}} </p>
              </mat-list-item>
              <!--/row-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
