.mat-toolbar {
  color: #9A9A9A;
  background-color: #FFE92E!important;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
}

.mat-button {
  color: #9A9A9A!important;
}
.active{
  font-weight: bold;
}
