.mat-toolbar {
  color: #E5A823;
  background-color: #FFE92E!important;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index:9999;
  height: 40px;
}

.mat-button {
  color: #0a0c77!important;
}
.active{
  font-weight: bold;
}
