$light-blue: #73C1FF;
$light-yellow: #FFED2E;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.background-primary {
    background-color: $light-blue!important;
  }

.text-floral-white {
    color: floralwhite!important;
}
