<div class="container"
	 fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px">

	<h3><i>Event</i></h3>

	<mat-list *ngIf="event">
		<mat-list-item class="event-name">
			<h1 mat-line> {{event.eventName | uppercase}} </h1>
		</mat-list-item>
		<mat-list-item class="event-course">
			<h5 mat-line> {{event.eventCourse}} </h5>
		</mat-list-item>
		<hr>
		<mat-list-item class="event-date">
			<h6 mat-line> {{event.eventDate | date }} </h6>
			<p mat-line >{{event.eventStartTime | date : 'shortTime'}} - {{event.eventEndTime | date : 'shortTime'}}</p>
		</mat-list-item>
		<hr>
		<mat-list-item>
			<h6 mat-line style="color: #0053a4"><i><u>Description:</u></i></h6>
			<p mat-line class="event-description"> {{event.description}} </p>
			<hr>
			<p mat-line class="event-place"> {{event.eventPlace}} </p>
		</mat-list-item>
		<mat-list-item>
			<img matListAvatar src="{{event.creator['avatar']}}" alt="{{event.creator['firstName']}}"
				style="width:80px;height:80px; padding:10px; aligncenter">
			<p> by {{event.creator['firstName']}} {{event.creator['lastName']}}</p>
		</mat-list-item>
		<h6 style="color: #0053a4" mat-line><i><u>Subscribers:</u></i></h6>
		<div *ngFor="let user of currentSubscribers" style="text-align: center">

			<mat-list-item style="width:100px; height:100px; aligncenter">
				<img matListAvatar src={{user.avatar}} alt={{user.firstName}}
				  style="width:80px;height:80px; padding:10px; aligncenter">
			</mat-list-item>

			<mat-list-item>
				{{user.firstName}} {{user.lastName}}
			</mat-list-item>
		</div>
	</mat-list>

	<div fxFlex fxLayout="row"
			 fxLayoutAlign="center"
			 fxLayoutGap="10px">
		<button *ngIf="userIsCreator" [disabled]="loading == true" mat-button (click)="deleteEvent(eventId)">DELETE</button>
		<button *ngIf="userIsCreator" mat-button [routerLink]="['/editevent', event.id]">EDIT</button>
		<button *ngIf="subscribed && !userIsCreator" [disabled]="loading == true" mat-button (click)="unsubscribe()">LEAVE</button>
		<button *ngIf="!subscribed && !userIsCreator" [disabled]="loading == true" mat-button (click)="subscribe()">JOIN</button>
		<button mat-button (click)="goBack()">BACK</button>
	</div>

</div>

<app-footer></app-footer>
