<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

     <h3>Event</h3>

     <mat-list *ngIf="event">
       <mat-list-item>
         <h2> {{event.eventName | uppercase}} </h2>
       </mat-list-item>
       <mat-list-item>
         <h5> {{event.eventCourse}} </h5>
         <h6> {{event.eventTime | date: "MM/dd/yyyy 'at' h:mma"}} </h6>
       </mat-list-item>
       <mat-list-item>
         <p> {{event.description}} </p>
         <hr>
         <p> {{event.eventPlace}} </p>
       </mat-list-item>
       <mat-list-item>
<!-->Change image to creator's avatar -> creator must be changed to :User<-->
         <div mat-card-avatar src="/assets/images/alberto.png"></div>
         <p> by {{event.creator}}</p>
       </mat-list-item>
       <h6> Subscribers </h6>
       <mat-list-item>
       </mat-list-item>
     </mat-list>

     <button mat-button>JOIN</button>
     <button mat-button (click)="goBack()">BACK</button>

</div>

<app-footer></app-footer>
