@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.background-primary {
  background-color: #FFED2E !important;
}
.text-floral-white {
  color: floralwhite !important;
}
.flex-spacer {
  flex: 1 1 auto;
}
